.detail-container {
    display: flex;
    /* height: 500px; */
    height: auto;
}

.barchart-container {
    width:  800px;
}

.similar-anomaly-container {
    /* margin-top: 30px; */
    justify-content: space-between;
    /* justify-content: center; */
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.similar-anomaly-text {
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #000000;
    display: inline
}

.click-report-text {
    display: inline;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #00a6f3;
    cursor: pointer;
}

.click-report-text:hover {
    text-decoration: underline; 
}
