.navi-tab-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.tab-header {
  display: flex;
  justify-content: space-around;
  background-color: #f4fafc;
  height: 80px;

}

.logo-container {
  height: 80px;
  width: 400px;
  margin-right: auto;
  display: flex;
  justify-content: center;

}

.logo {
  height: 100%;
  width: 50%;
}

.tab-button {
  padding: 10px 20px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  flex-grow: 1;

}

.tab-active {
  font-weight: bold;
  color: #4285F4;;
  border-bottom: 2px solid #4285F4;;
}

.control-bar {
  margin-top: 20px;
  height: auto;
  align-items: center;

}

.control-bar select {
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.device-select-container {
  display: flex;
  align-items: center;
  height: 39px;
}

.device-select-container select {
  margin-right: 20px;
  min-width: fit-content;

}

.device-select-container .text {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #1E5073;
  margin-left: 20px;
  margin-right: 20px;
}

.load-button {
  height: 40px;
  width: 150px;
  background-color: #4285F4;;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.load-button:hover {
  background-color: #2f61b1;
}

.draw-settings {
  display: flex;
  flex-direction: column;
}

.time-inputs {
  display: flex;
  align-items: center;
}

.time-inputs .text {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #1E5073;
  white-space: nowrap;
  
}

.time-input {

  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 100%;
  cursor: pointer;
}

.channels-buttons-container {
  display: flex;
  align-items: center;
}

.channel-select-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.channel-select-container .text {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #1E5073;
  margin-left: 20px;
  margin-right: 20px;
}

.channel-select {
  display: flex;
  align-items: center;
  height: 100%;
}

.channel-select select {
  width: 150px;
}

.draw-button {
  margin-left: 20px;
  height: 40px;
  width: 100px;
  background-color: #4285F4;;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.draw-button:hover {
  background-color: #2f61b1;;
}

.download-button {
  margin-left: 20px;
  padding: 10px 20px;
  align-items: center;
  height: 40px;
  background-color: #4285F4;;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.download-button:hover {
  background-color: #2f61b1;;
}

.download-spinner-container {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: 20px;
  gap: 10px;
}

.download-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4285F4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

