.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 320px;
}

.login-title {
  font-size: 26px;
  font-weight: bold;
  color: #1a73e8;
  margin-bottom: 25px;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
  font-size: 15px;
  box-sizing: border-box;
}

.login-input:focus {
  outline: none;
  border-color: #1a73e8;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #1a73e8;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #155bb5;
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.register-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.register-link:hover {
  color: #0056b3;
}

.login-error {
    color: #f44336;
    font-size: 14px;
    margin: -5px 0 10px 0;
    text-align: left;
    width: 100%;
}

.password-input-wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
  box-sizing: border-box;
}

.password-input {
  width: 90%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 12px;
  font-size: 15px;
  box-sizing: border-box;
}

.password-input-wrapper:focus-within {
  outline: none;
  border-color: #1a73e8;
}

.eye-icon-container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 2px;
}

.eye-icon-button {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.password-input:focus + .eye-icon-container .eye-icon-button,
.eye-icon-container:hover .eye-icon-button {
  opacity: 1;
  pointer-events: auto;
}

.recovery-text {
  width: 100%;
  text-align: right;
  font-size: 14px;
  color: #555;
}

.recovery-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.recovery-link:hover {
  color: #0056b3;
}