.main-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tab-content {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.tab-header {
    height: 80px;
    flex-shrink: 0;
}